<div class="sidebar text-dark vh-100 p-3" style="width: 250px;     background-color: rgb(216 225 233) ;">

    <h5 class="mb-4 text-uppercase">Menu</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a class="nav-link text-dark" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-dark" routerLink="/pending-students" routerLinkActive="active">Account Creation Request</a>
      </li>
     
      <!-- <li class="nav-item mb-2">
        <a class="nav-link text-dark" routerLink="/admin-layout/approve-transaction" routerLinkActive="active">Approve Transaction</a>
      </li> -->
    </ul>
  </div>
  